<script>
    import {writable} from "svelte/store";


    let elements = writable([1, 2, 3, 4, 5])
    const increment = () => {
        $elements = [...$elements, 1]
    }
    const decrement = ([x, ...xs]) => xs


    $:{
        console.log($elements)
    }
</script>
<div>
    <div>Queue</div>
    <div>
        <div><span style="width: 20px; height: 20px; background-color: green; display: inline-block"></span> Последний добавленый</div>
        <div><span style="width: 20px; height: 20px; background-color: red; display: inline-block"></span> Первый на взятие</div>
    </div>
    <button on:click={()=>{$elements = decrement($elements)}}>
        Взять
    </button>
    <button on:click={()=>{increment()}}>
        Положить
    </button>

    <div class="box">
        {#each $elements as element, i}
            <div class="plate" class:firstPlate={i==0} class:lastPlate={i==$elements.length-1}>
                {element}
            </div>
        {/each}
    </div>
</div>
<style>
    .box {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .plate {
        border: 1px solid black;
        border-radius: 50%;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
    }

    .firstPlate {
        background-color: red;
    }
    .lastPlate{
        background-color: green;
    }
    button {
        font-family: inherit;
        font-size: inherit;
        padding: 1em 2em;
        color: #ff3e00;
        background-color: rgba(255, 62, 0, 0.1);
        border-radius: 2em;
        border: 2px solid rgba(255, 62, 0, 0);
        outline: none;
        width: 200px;
        font-variant-numeric: tabular-nums;
        cursor: pointer;
    }

    button:focus {
        border: 2px solid #ff3e00;
    }

    button:active {
        background-color: rgba(255, 62, 0, 0.2);
    }
</style>
