<script>
  import logo from './assets/svelte.png'
  import Stack from './lib/Stack.svelte'
  import Queue from './lib/Queue.svelte'
</script>

<main>
  <Stack />
  <Queue />
</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>
